<div class="banner">
  <div class="container padded">
      <div class="col-md-6 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>Félicitation !</h1>
            <p>Votre Paiement pour <%=@subscription.tournament.name%> a bien été pris en compte. Vous recevrez un mail de confirmation si votre inscription est validé par le juge arbitre.
            S'il est impossible de vous intégrez au tableau, votre paiement vous sera remboursé intégralement.</p>

            <p>L'équipe Tennis Match</p>
          </div>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
        <h3> Merci d'indiquer vos disponibilités pour <%=@subscription.tournament.name.upcase%>  </h3>
        <%=simple_form_for [@subscription, @disponibility] do |f|%>
        <%= f.error_notification %>

        <%= f.input :week %>


        <%= f.input :saturday  %>

        <%= f.input :sunday  %>
       <%= f.button :submit, "Valider", class: "btn btn-success" %>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>