<div class="banner">
  <div class="container padded">
      <div class="col-md-6 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>DISPONIBILITES DE <%= @disponibility.user.full_name %></h4>
          </div>
          <div class="panel-body">
            <ul>
               <li>Le lundi: <%= @disponibility.monday %> </li>
              <li>Le mardi: <%= @disponibility.tuesday %> </li>
               <li>Le mercredi: <%= @disponibility.wednesday %> </li>
               <li>Le jeudi: <%= @disponibility.thursday %> </li>
               <li>Le vendredi: <%= @disponibility.friday %> </li>
               <li>Le samedi : <%= @disponibility.saturday %> </li>
               <li>Le dimanche : <%= @disponibility.sunday %> </li>
               <li>Commentaire : <%= @disponibility.comment %> </li>
            </ul>
          </div>
          <div class="panel-footer">
            <a href="javascript:history.back()" class="btn btn-default">Retour</a>
            <%= link_to "Modifier", edit_tournament_disponibility_path(@tournament, @disponibility, subscription_id: params[:subscription_id]), class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
