<div class="banner" onclick = "yo()">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 bigmarge">
         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="marge"><%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%> a refusé la convocation que vous lui avez proposé pour <%= @convocation.date.strftime("le %d/%m/%Y") %> <%= @convocation.hour.strftime(" à %Hh%M")%></h2>

            <p class="marge-bas"><strong>Ci dessous vous trouverez les disponibilités de <%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%></strong></p>
               </div>
             </div>
        </div>
    </div>
  </div>
    <div class="container">
    <div class="row text-center">
      <div class="col-xs-7 col-xs-offset-3">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="user-picture center" style='background-image:url(<%= image_path @convocation.subscription.user.picture.url(:medium) %>)'>
            </div>
            Message de <%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%>
          </div>
          <div class="panel-body">
            <% @messages.each do |message| %>
              <%= message.content%>
            <% end %>
          </div>
        </div>
        <p class="marge-bas"> <strong> Cliquer sur "Changer la convocation de ce joueur" pour envoyer une nouvelle convocation à <%= @convocation.subscription.user.full_name %> sinon appeler le au <%= @convocation.subscription.user.telephone %> pour lui expliquer la situation. </strong></p>
        <%=link_to "Changer la convocation de ce joueur", new_subscription_convocation_path(@convocation.subscription) , class: "btn btn-success marge-bas" %>
      </div>
    </div>
  </div>
</div>




