<div class="banner" onclick = "yo()">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="marge"><strong><%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%> ne semble pas être en mesure d'être présent <%= @convocation.date.strftime("le %d/%m/%Y") %> <%= @convocation.hour.strftime(" à %Hh%M")%> pour la convocation que vous lui avez proposé.</strong></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-7 col-xs-offset-3">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="user-picture center" style='background-image:url(<%= image_path @convocation.subscription.user.picture.url(:medium) %>)'>
            </div>
            Message de <%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%>
          </div>
          <div class="panel-body">
            <% @messages.each do |message| %>
              <%= message.content%>
            <% end %>
          </div>
        </div>
        <p class="marge-bas"> <strong> Cliquer sur "Changer la convocation de ce joueur" pour envoyer une nouvelle convocation à <%= @convocation.subscription.user.full_name %> sinon appeler le au <%= @convocation.subscription.user.telephone %> pour lui expliquer la situation. </strong></p>
        <%=link_to "Lui proposer une nouvelle convocation", new_subscription_convocation_path(@convocation.subscription) , class: "btn btn-success marge-bas" %>
        <p><strong>OU</strong></p>
         <%=link_to "Forcer la convocation actuelle", edit_convocation_path(@convocation) , class: "btn btn-danger marge-bas" %>
      </div>
    </div>
  </div>
</div>




