<div class="banner" onclick = "yo()">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 bigmarge">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="marge"><strong><%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%> ne semble pas être en mesure d'être présent <%= @convocation.date.strftime("le %d/%m/%Y") %> <%= @convocation.hour.strftime(" à %Hh%M")%> pour la convocation que vous lui avez proposé.</strong></p>
          </div>
           <div class="panel-body">
            Voici les disponibilités indiquées par <%= @convocation.subscription.user.first_name%> <%= @convocation.subscription.user.last_name%> : <br>
            <%= @message.content%>
          </div>
        <div class="panel-footer">
          <p class="marge-bas"> <strong> Cliquer sur "Changer la convocation de ce joueur" pour envoyer une nouvelle convocation à <%= @convocation.subscription.user.full_name %> sinon appeler le au <%= @convocation.subscription.user.telephone %> pour lui expliquer la situation. Si vous cliquez sur "je n'ai plus de disponibilités", le joueur sera informé que vous ne pouvez pas lui proposer d'autres dates/horaires.</strong></p>
          <%=link_to "Lui proposer une nouvelle convocation", new_subscription_convocation_path(@convocation.subscription) , class: "btn btn-success marge-bas" %>
          <p><strong>OU</strong></p>
          <%= simple_form_for @convocation do |f| %>
            <%= hidden_field_tag 'convocation[status]', :confirmed_by_judge %>
            <%= f.button :submit, "Je n'ai plus de disponibilités", class: " btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




