<div class="banner">
  <div class="container">
    <div class="row user_profile">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="content text-center">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
              <li role="presentation"><a href="#disponibility" aria-controls="disponibility" role="tab" data-toggle="tab"><strong>Disponibilités</strong></a></li>
            </ul>
             <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active card" id="profile">
                <div class="col-xs-5 text-left">
                  <h4>Prénom</h4>
                  <h4>Nom</h4>
                  <h4>email</h4>
                  <h4>Numéro de téléphone</h4>
                  <h4>Classement</h4>
                  <h4>Sexe</h4>
                  <h4>Date de naissance</h4>
                  <h4>Numéro de licence</h4>
                </div>
                <div class="col-xs-5 text-left">
                  <h4><%= @user.first_name %></h4>
                  <h4><%= @user.last_name %></h4>
                  <h4><%= @user.email %></h4>
                  <h4><%= @user.telephone %></h4>
                  <h4><%= @user.ranking %></h4>
                  <h4><%= @user.genre %></h4>
                  <h4><%= @user.birthdate.strftime("%d/%m/%Y") %></h4>
                  <h4><%= @user.licence_number %></h4>
                  </div>
                <div class="col-xs-2">
                  <div class="user-picture" style='background-image:url(<%= image_path @user.picture.url(:medium), class:"profile-picture" %>)'>
                  </div>
                </div>
              </div>
             <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
