<div class="banner">
  <div class="mini-height">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="content text-center">
            <div role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#tournois" aria-controls="tournois" role="tab" data-toggle="tab">Mes Tournois</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                  <div class="card">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-4 col-offset-3">
                          <h4> Prénom : <%= @user.first_name %></h4>
                          <h4> Nom :<%= @user.last_name %></h4>
                          <h4> email : <%= @user.email %></h4>
                          <h4> numéro de juge-arbitre : <%= @user.judge_number %></h4>
                          <h4> Sexe : <%= @user.genre %></h4>
                          <h4>Date de naissance : <%= @user.date_of_birth %></h4>
                          <h4>Numéro de licence : <%= @user.licence_number %></h4>
                        </div>
                        <div class="col-xs-6">
                          <h4><%= image_tag @user.picture.url(:medium) %></h4>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-left padding-left">
                    <%= link_to "Modifier mon profil", edit_user_path, class:"btn btn-primary"  %>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tournois">
                   <table class="table table-hover">
                      <tr>
                        <th>Compétition</th>
                        <th>Date de début</th>
                        <th>Statut</th>
                      </tr>
                      <%current_user.tournaments.each do |tournament|%>
                        <div class ="card">
                          <%if tournament.accepted?%>
                            <tr>
                             <td><h4><%= link_to tournament.name, user_tournament_path(current_user, tournament) %></h4></td>
                             <td><h5><%= tournament.starts_on %></h5></td>
                            </tr>
                          <%else%>
                            <tr>
                             <td><h4><%= tournament.name %></h4></td>
                             <td><h5><%= tournament.starts_on %></h5></td>
                             <td><h5><%= "En attente de validation" %></h5></td>
                            </tr>
                          <% end %>
                        </div>
                      <% end %>
                   </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>
