<div class="content text-center">
  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#tournois" aria-controls="tournois" role="tab" data-toggle="tab">Mes Tournois</a></li>
    </ul>

     <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="card">
              <h2 class= "text-left"> Prénom : <%= @user.first_name %></h2>
              <h2 class= "text-left"> Nom :<%= @user.last_name %></h2>
              <h2 class= "text-left"> email : <%= @user.email %></h2>
              <h2 class= "text-left">Classement : <%= @user.ranking %></h2>
              <h2 class= "text-left"> Sexe : <%= @user.genre %></h2>
              <h2 class= "text-left">Date de naissance : <%= @user.date_of_birth %></h2>
              <h2 class= "text-left">Numéro de licence : <%= @user.licence_number %></h2>


              <%= link_to "Modifier mon profil", edit_user_path  %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tournois">
        <% current_user.subscriptions.each do |subscription| %>
          <div class ="card">
            <%=subscription.tournament.name%>
            <%= subscription.status %>
          </div>
          <% end %>
    </div>
  </div>
</div>

