<%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :judge_number %>
  <%= f.input :genre %>
  <%= f.input :date_of_birth %>
  <%= f.input :telephone %>
   <p>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </p>


  <%= f.submit %>
<% end %>