
<div class="banner-tournament">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h3 class="text-center">Modifier mon profil</h3>
        <%= simple_form_for @user do |f| %>
         <%= f.error_notification %>

        <%= f.input :first_name, label: "Prénom" %>
        <%= f.input :last_name, label: "Nom" %>
        <%= f.input :email, label:"email" %>
        <%= f.input :telephone, label: "telephone", placeholder: "Merci de respeter le format suivant: +33602892813"%>

        <p><%= f.label :birthdate, 'Date de naissance' %></p>
        <%= f.date_select :birthdate, {:include_blank => true, :default => nil, :use_month_names => ['Janv.','Fevr.', 'Mars', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août','Sept.', 'Oct.', 'Nov.', 'Déc.'], :order => [:day, :month, :year], :start_year => 1910, :end_year => 2010} %>
        <%= f.input :club, label: "Votre club", placeholder: "TC Trouville" %>
         <%= f.input :genre, label: "Sexe" %>
        <%= f.input :ranking, label: "Classement" %>
        <%= f.input :licence_number, label: "numéro de licence", placeholder: "0930613K"%>
        <p>
          <%= f.label :Photo%>
          <div class="upload-file-container">
            <%= f.file_field :picture, id: "myFileInput1" %>
            <span id="fileName1"></span>
          </div>
        </p>
        <p>
        <%= f.label :licence %>
        <div class="upload-file-container">
          <%= f.file_field :licencepicture, id: "myFileInput2" %> <span id="fileName2"></span>

        </div>
        </p>
        <p>
        <%= f.label :certificat %>
        <div class="upload-file-container">
          <%= f.file_field :certifmedpicture, id: "myFileInput3" %>
          <span id="fileName3"></span>
        </div>
        </p>
        <div id="validation"><%= f.submit "valider", class: "btn btn-success" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
$(document).ready(function(){
    realInputField = $('#myFileInput1')
    realInputField.change(function() {
      $('#fileName1').append( "<i class='fa fa-check'></i>" )
    });

    realInputField = $('#myFileInput2')
      realInputField.change(function() {
        $('#fileName2').append( "<i class='fa fa-check'></i>" )
      });

    realInputField = $('#myFileInput3')
        realInputField.change(function() {
          $('#fileName3').append( "<i class='fa fa-check'></i>" )
        });
 });
</script>

<% end -%>

