
<div class="banner-tournament">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h3 class="text-center">Modifier mon profil</h3>
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :first_name, label: "Prénom" %>
        <%= f.input :last_name, label: "Nom" %>
        <%= f.input :email, label:"email" %>
        <%= f.input :ranking, label:"Classement" %>
        <%= f.input :genre, label: "Sexe" %>
        <%= f.input :date_of_birth, label: "date de naissance" %>
        <%= f.input :licence_number, label: "numéro de licence"%>
        <%= f.input :telephone, label: "telephone" %>
        <p>
          <%= f.label :Photo%>
          <%= f.file_field :picture %>
        </p>
        <p>
        <%= f.label :licence %>
        <%= f.file_field :licencepicture %>
        </p>
        <p>
        <%= f.label :certificat %>
        <%= f.file_field :certifmedpicture %>
        </p>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



