  <div class="banner">
    <div class="container text-center">


<%=link_to "Retour à la gestion du tournoi", tournament_subscriptions_path(@tournament), class: "btn btn-default bigmarge_stats"%>
            <table id="example" class="table table-hover card display dataTable bigmarge_stats">
        <thead>
          <tr>
            <th class="text-center">Classements </th>
            <th class="text-center">Nombre de joueurs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Inscrits</td>
            <td><%= @subscriptions.count %></td>
            <td><%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :total, name: "my-checkbox", class: "checkbox-ranking" %>
                <%= f.button :submit, class: "hidden"   %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>NC</td>
            <td><%= @subscriptions.where("users.ranking = 'NC'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :NC, name: "my-checkbox", class: "checkbox-ranking" %>
                <%= f.button :submit, class: "hidden"   %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>40</td>
            <td><%= @subscriptions.where("users.ranking = '40'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :quarante, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
              </td>
          </tr>
          <tr>
            <td>30/5</td>
            <td><%= @subscriptions.where("users.ranking = '30/5'").count %></td>
            <td>
                <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :trentecinq, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>30/4</td>
            <td><%= @subscriptions.where("users.ranking = '30/4'").count %></td>
            <td>

                <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :trentequatre, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>30/3</td>
            <td><%= @subscriptions.where("users.ranking = '30/3'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :trentetrois, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %></td>
          </tr>
          <tr>
            <td>30/2</td>
            <td><%= @subscriptions.where("users.ranking = '30/2'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :trentedeux, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>30/1</td>
            <td><%= @subscriptions.where("users.ranking = '30/1'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :trenteun, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %></td>
          </tr>
          <tr>
            <td>30</td>
            <td><%= @subscriptions.where("users.ranking = '30'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament),:method => 'post', :remote => true do |f| %>
                <%= f.input :trente, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>15/5</td>
            <td><%= @subscriptions.where("users.ranking = '15/5'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinzecinq, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>

          <tr>
            <td>15/4</td>
            <td><%= @subscriptions.where("users.ranking = '15/4'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinzequatre, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>15/3</td>
            <td><%= @subscriptions.where("users.ranking = '15/3'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinzetrois, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>15/2</td>
            <td><%= @subscriptions.where("users.ranking = '15/2'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinzedeux, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>15/1</td>
            <td><%= @subscriptions.where("users.ranking = '15/1'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinzeun, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>15</td>
            <td><%= @subscriptions.where("users.ranking = '15'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quinze, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>5/6</td>
            <td><%= @subscriptions.where("users.ranking = '5/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :cinqsix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>4/6</td>
            <td><%= @subscriptions.where("users.ranking = '4/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :quatresix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>3/6</td>
            <td><%= @subscriptions.where("users.ranking = '3/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :troissix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>2/6</td>
            <td><%= @subscriptions.where("users.ranking = '2/6'").count %>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :deuxsix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
            </td>
          </tr>
          <tr>
            <td>1/6</td>
            <td><%= @subscriptions.where("users.ranking = '1/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :unsix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>0</td>
            <td><%= @subscriptions.where("users.ranking = '0'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :zero, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %></td>
          </tr>
          <tr>
            <td>-2/6</td>
            <td><%= @subscriptions.where("users.ranking = '-2/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :moinsdeuxsix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
            <td>-4/6</td>
            <td><%= @subscriptions.where("users.ranking = '-4/6'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :moinsquatresix, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>-15</td>
            <td><%= @subscriptions.where("users.ranking = '-15'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :moinsquinze, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>-30</td>
            <td><%= @subscriptions.where("users.ranking = '-30'").count %></td>
            <td>
              <%= simple_form_for @tournament, url: updaterankings_path(@tournament), :method => 'post', :remote => true do |f| %>
                <%= f.input :moinstrente, name: "my-checkbox", id: "input" %>
                <%= f.button :submit, class: "hidden" %>
              <% end %>
            </td>
          </tr>

       </tbody>
</table>






              </div>
          </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
     <script type="text/javascript">
     $(document).ready(function(){
        $('').bootstrapSwitch();

      });
    $(document).ready(function(){

      $("input:checkbox.boolean").on('click', function(event){
        $(this).parent().parent().parent().parent().submit();
      });
    });

     </script>
   <% end -%>


