
<p> Le statut de votre convocation est actuellement <%=@convocation.status%></p>
<div class="text-center">
  <%= simple_form_for @convocation do |f| %>
    <%= hidden_field_tag 'convocation[status]', :confirmed %>
    <%= f.button :submit, "Accepter" %>
  <% end %>
  <%= simple_form_for @convocation do |f| %>
    <%= hidden_field_tag 'convocation[status]', :refused %>
    <%= f.button :submit, "Refuser" %>
  <% end %>
  <%= simple_form_for @convocation do |f| %>
    <%= hidden_field_tag 'convocation[status]', :cancelled %>
    <%= f.button :submit, "W.O" %>
  <% end %>
 </div>

