<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="connexion"><%= t('.sign_up', default: "Inscription Juge-arbitre") %></h2>
        <p>Juge Arbitre? Référencez vos tournois pour convoquer vos joueurs en un clic.</p>

        <%= simple_form_for(@user, url: user_registration_path) do |f| %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :judge, as: :hidden %>
          <%= f.button :submit, t('.sign_up', default: "Sign up"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>