<div class="banner">
  <div class="container padded ">
    <div class="col-md-5 col-md-offset-1 bigmarge">
       <%= link_to "Retour", tournaments_path, class: "btn btn-default retour_tournament_show" %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @tournament.name.upcase %></h1>
        </div>
        <div class="panel-body">
          <h4>Du <%=  @tournament.starts_on.strftime("%d/%m/%Y") %> au <%=  @tournament.ends_on.strftime("%d/%m/%Y") %>
          </h4>
          <p>Club Organisateur: <strong><%=  @tournament.club_organisateur.upcase %></strong></p>
          <p>Ville: <strong> <%=  @tournament.city.upcase %></strong></p>
          <p>Sexe: <strong><%=  @tournament.genre.text.upcase %></strong></p>
          <p>Catégorie: <strong><%= @tournament.category %></strong></p>
          <p>Addresse des installations: <strong><%= @tournament.address %></strong></p>
          <p>Frais d'inscription: <strong><%= @tournament.amount %> €</strong></p>
          <% if @tournaments.include?(@tournament) %>
          <% elsif Time.now.utc.to_date > @tournament.ends_on%>
          <% else %>
            <%= link_to "S'inscrire", registrate_card_tournament_path(tournament_id: @tournament), class: 'btn btn-warning', method: :post %>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 bigmarge">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="map" style="width: 100%; height: 375px;"></div>
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function(){
                    markers = handler.addMarkers(<%= raw @markers.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                  });
                })
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

