<div class="banner">
  <div class="container padded">
    <div class="col-md-5 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @tournament.name %></h1>
        </div>
        <div class="panel-body">
          <h4>Du <%=  @tournament.starts_on %> au <%=  @tournament.ends_on %>
          </h4>
          <p>Club Organisateur: <%=  @tournament.club_organisateur %></p>
          <p>Ville: <%=  @tournament.city %></p>
          <p>Sexe: <%=  @tournament.genre %></p>
          <p>Catégorie: <%= @tournament.category %> $</p>
          <p>Addresse des installations: <%= @tournament.address %></p>
          <p>Frais d'inscription: <%= @tournament.amount %> €</p>

          <%= link_to "S'inscrire", tournament_subscriptions_path(@tournament), class: 'btn btn-warning', method: :post %>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="map" style="width: 100%; height: 375px;"></div>
            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).on('ready', function() {
                  handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function(){
                    markers = handler.addMarkers(<%= raw @markers.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                  });
                })
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

