<div class="container padded">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1><%= @tournament.name %></h1>
          </div>
          <div class="panel-body">
            <h4>Du <%=  @tournament.starts_on %> au <%=  @tournament.ends_on %></h4>
            <p>Club Organisateur: <%=  @tournament.club_organisateur %></p>
            <p>Ville: <%=  @tournament.city %></p>
            <p>Sexe: <%=  @tournament.genre %></p>
            <p>Catégorie: <%= @tournament.category %> $</p>
            <p>Addresse des installations: <%= @tournament.address %></p>
            <p>Frais d'inscription: <%= @tournament.amount %> €</p>

              <%= link_to "S'inscrire", tournament_subscriptions_path(@tournament), class: 'btn btn-warning', method: :post %>
          </div>
        </div>

      </div>
  </div>