<div class="tournoi">
 <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="searching-tournament"> Vous cherchez un tournoi ?</h1>
        <form class="form-horizontal" id="algolia-bar">
          <div class="form-group">
            <%= simple_form_for @tournament do |t| %>
                <%= t.input :name, label: 'Nom de la Compétition' %>
                <%= t.input :city, label: 'Ville' %>
                <%= t.input :genre, label:'Masculin ou féminin' %>
                <%= t.input :category, label: 'Catégorie' %>
                <%= t.input :address, label: 'Addresse des installations' %>
                <%= t.input :starts_on, label: 'Date de début' %>
                <%= t.input :ends_on, label: 'Date de fin' %>
                <%= t.input :amount, label: "Frais d'inscription" %>
                <%= t.input :club_organisateur, label: "Club Organisateur" %>
                <%= t.button :submit, value: "Soumettre ce tournoi à validation",  class: "btn-primary" %>
               <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>