<div class="banner">

      <div class="col-xs-offset-3 col-xs-6 bigmarge">
         <p class= "bigmarge">Entrez vos identifiants et Mot de passe AEI pour exporter vos inscrits</p>
         <p>TennisMatch ne stocke et n'a accès à aucune de ces informations qui vous sont personnelles. Nous les utilisons simplement pour vous permettre d'exporter les inscrits à votre Tournoi</p>

       <%= simple_form_for @user,
       :url => url_for(:action => 'AEIexport', :controller => 'tournaments'),
       :method => 'post' do |f| %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.input :login_aei %>
        <%= f.input :password_aei %>
        <%= f.button :submit, "Valider", class: "btn btn-success" %>
        <% end -%>
    </div>
  </div>

