<div class="banner-tournament">
  <div class= "text-center">
      <h3 id= "formulaire-tournoi">Editer ce tournoi</h3>
      <p> Attention toute modification du tournois entrainera sa soumission à notre équipe de validation !</p>
  </div>
  <div class="container">
      <div class= "col-xs-12 col-md-6 col-md-offset-3">
        <%= simple_form_for @tournament do |t| %>
          <%= t.input :homologation_number, label: "Numéro d'homologation" %>
          <%= t.input :name, label: 'Nom de la Compétition' %>
          <%= t.input :city, label: 'Ville' %>
           <%= t.input :postcode, label: 'Code Postal' %>
          <%= t.input :address, label: 'Addresse des installations' %>
            <p><%= t.label :starts_on, 'Date de début de la compétition' %></p>
           <%= t.date_select :starts_on, {:include_blank => true, :default => nil, :use_month_names => ['Janv.','Fevr.', 'Mars', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août','Sept.', 'Oct.', 'Nov.', 'Déc.'], :order => [:day, :month, :year], :start_year => 2015, :end_year => 2017} %>
            <p><%= t.label :ends_on, 'Date de fin de la compétition' %></p>
           <%= t.date_select :ends_on, {:include_blank => true, :default => nil, :use_month_names => ['Janv.','Fevr.', 'Mars', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août','Sept.', 'Oct.', 'Nov.', 'Déc.'], :order => [:day, :month, :year], :start_year => 2015, :end_year => 2017} %>
          <%= t.input :genre, label:'Masculin ou féminin' %>
          <%= t.input :category, label: 'Catégorie' %>
           <%= t.input :max_ranking, label: 'Classement minimum' %>
          <%= t.input :max_ranking, label: 'Classement maximum' %>
          <%= t.input :amount, label: "Frais d'inscription" %>
          <h4>Club organisateur</h4>
          <%= t.input :club_organisateur, label: "Club Organisateur" %>
          <%= t.input :club_email, label: "Email" %>
          <%= t.button :submit, value: "Soumettre ce tournoi à validation",  class: "btn-primary marge-bas" %>
        <% end %>
    </div>
</div>
