<div class='container text-center padded'>
  <div class="row">
    <div class="col-xs-12" id='michel'>
      <h3>Editer votre tournoi</h3>
      <p> Attention toute modification du tournois entrainera sa soumission à notre équipe de validation !</p>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <%= simple_form_for @tournament do |t| %>
          <%= t.input :name, label: 'Nom de la Compétition' %>
          <%= t.input :city, label: 'Ville' %>
          <%= t.input :genre, label:'Masculin ou féminin' %>
          <%= t.input :category, label: 'Catégorie' %>
          <%= t.input :address, label: 'Addresse des installations' %>
          <%= t.input :starts_on, label: 'Date de début' %>
          <%= t.input :ends_on, label: 'Date de fin' %>
          <%= t.input :amount, label: "Frais d'inscription" %>
          <%= t.input :club_organisateur, label: "Club Organisateur" %>
          <%= t.button :submit %>
        <% end %>
      </div>
    </div>
</div>