<div class="banner-tournament">
  <div class= "text-center">
    <h3 id= "formulaire-tournoi">Formulaire de création d'un tournoi</h3>
  </div>
  <div class="container">
      <div class= "col-xs-12 col-md-6 col-md-offset-3">
        <%= simple_form_for @tournament do |t| %>
          <%= t.error_notification %>
          <%= t.input :homologation_number, label: "Votre numéro d'homologation (strictement identique à celui sur AEI)" %>
          <%= t.input :name, label: 'Nom de la Compétition' %>
          <%= t.input :city, label: 'Ville' %>
          <%= t.input :postcode, label: 'Code Postal' %>
          <%= t.input :address, label: 'Addresse des installations' %>
          <%= t.input :starts_on, as: :string, input_html: { class: "datepicker"}, label: "Début de la compétition " %>
           <%= t.input :ends_on, as: :string, input_html: { class: "datepicker"}, label: "Fin de la compétition" %>
          <%= t.input :genre, label:'Masculin ou féminin'  %>
          <%= t.input :category, label: 'Catégorie' %>
           <%= t.input :nature, label: "Nature de l'épreuve" %>
          <%= t.input :min_ranking, label: 'Classement minimum' %>
          <%= t.input :max_ranking, label: 'Classement maximum' %>
          <%= t.input :amount, label: "Frais d'inscription" %>
          <%= t.input :young_fare, label: "Tarif Jeune" %>
          <%= t.input :club_organisateur, label: "Club Organisateur" %>
          <%= t.input :iban, label: "IBAN" %>
          <%= t.input :bic, label: "BIC" %>
          <%= t.button :submit, value: "Soumettre ce tournoi à validation",  class: "btn-primary marge-bas" %>
        <% end %>
      </div>
    </div>
</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
       format: 'dd/mm/yyyy',
       language: 'fr',
       startDate: '-3d'
      });
  });
</script>

<% end -%>

