<h1>Bonjour <%= @user_email %></h1>

<p> Le juge-arbitre <%= @competition.tournament.user.name %> vous invite a vous inscrire au <%= @competition.tournament.name%> se déroulant du <%=@competition.tournament.starts_on.strftime("%d/%m/%Y") %> au <%= @competition.tournament.ends_on.strftime("%d/%m/%Y") %>.
 </p>
<p>Merci de vous connecter à votre compte WeTennis sur <a href="www.wetennis.fr">WeTennis</a> pour procéder à l'inscription en ligne.</p>
