
<%=content_for(:title) do%>
  Home
<%end%>

<%=content_for(:description) do%>
  <%# TODO %>
<%end%>
<div>

    <%if current_user.nil? %>
      <%=render 'pages/partials/not_connected'%>
    <% elsif current_user.judge? %>
      <div class="banner">
      <%=render 'pages/partials/judge_connected'%>
    <%else%>
      <div class="banner">
      <%=render 'pages/partials/connected'%>
    <%end%>
  </div>
</div>
