<div class="banner">
<div class="container">
<div class= "col-xs-12 col-md-offset-3 col-md-5 bigmarge">
<%=simple_form_for @contact do |t|%>
  <%= t.error_notification %>
  <%= t.input :email, label: 'Votre email' %>
  <%= t.input :object, label: 'Objet' %>
  <%= t.input :content, label: 'Votre Message', class: "bigarea" %>
   <%= t.button :submit, value: "Valider",  class: "btn-success marge-bas" %>
  <% end -%>
</div>
</div></div>