<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 bigmarge">
        <div class="content text-center marge-bas">
          <div role="tabpanel" class="mestournois">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="#tournois" aria-controls="tournois" role="tab" data-toggle="tab"><h1>Mes Tournois</h1></a></li>
            </ul>
          <div role="tabpanel" class="tab-pane card" id="tournois">
              <table class="table table-hover">
                  <tr>
                    <th>Compétition</th>
                    <th>Statut de votre inscription</th>
                    <th>Date de votre convocation</th>
                    <th>Statut de votre convocation</th>
                    <th>Répondre à cette convocation</th>
                  </tr>
                  <% @subscriptions.each do |subscription| %>

                    <tr>
                      <td><strong><%= subscription.tournament.name %></strong></td>
                      <td><%= subscription.status_text %> </td>
                      <td>
                        <%unless subscription.convocations.size == 0%>
                          <%= subscription.convocations.last.date.strftime("Le %d/%m/%Y") %>
                          <%= subscription.convocations.last.hour.strftime(" à %Hh%M") %></td>
                      <td><%= subscription.convocations.last.status_text%></td>
                      <td>
                         <%if subscription.convocations.last.status == "pending"%>
                             <%= render 'users/show/button_repondre', subscription: subscription %>
                          <%else%>
                            <%=  render 'users/show/button_modifier', subscription: subscription %>
                          <%end%>
                         </td>
                        <%end%>
                  <%end%>
                    </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>