<div class="banner">
 <div class="container">
  <div class="row">
   <div class=" col-xs-offset-1 col-xs-10 bigmarge">
      <div role="tabpanel" class="marge-bas">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#tournois" aria-controls="tournois" role="tab" data-toggle="tab"><h1>Mes Tournois</h1></a></li>
        </ul>
        <div role="tabpanel" class="tab-pane card" id="tournois_judge">
         <table class="table table-hover">
            <tr>
              <th>Compétition</th>
              <th>Catégorie</th>
              <th>Date de début</th>
              <th>Statut</th>
            </tr>
            <%current_user.tournaments.each do |tournament|%>
                <%if tournament.accepted?%>
                  <tr class= "text-left">
                   <td><h4><%= link_to tournament.name, user_tournament_path(current_user, tournament), class: "link-neutral" %></h4></td>
                   <td><h5><%= tournament.category.capitalize %></h5></td>
                   <td><h5><%= tournament.starts_on.strftime("%d/%m/%Y") %></h5></td>
                   <td><h5>Tournoi Validé</h5></td>
                  </tr>
                <%else%>
                  <tr class= "text-left">
                   <td><h4><%= tournament.name %></h4></td>
                   <td><h5><%= tournament.category %></h5></td>
                   <td><h5><%= tournament.starts_on.strftime("%d/%m/%Y") %></h5></td>
                   <td><h5><%= "En attente de validation" %></h5></td>
                  </tr>
                <% end %>
            <% end %>
          </table>
        </div>
      </div>
   </div>
   <div class="col-xs-1 bigmarge">
    <%= link_to " + AJouter un tournoi", new_tournament_path, class: "btn btn-success ajouter_my_tournaments" %>
   </div>
  </div>
</div>


