<div class="banner">
  <div class = "container">
    <div class="row bigmarge">
      <div class="col-xs-5">
        <h1 id="tournament-name"><%= @tournament.name.upcase %></h1>
      </div>
      <div class="col-xs-5">
        <%=link_to "Ajouter un joueur à la liste", invite_player_path(@tournament), class: "btn btn-success", id: "convocation-submit" %>
      </div>
    </div>
    <table id="example" class="table table-hover card display dataTable margin_mes_tournois">
      <thead>
      <tr>
          <th>Select</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Numéro de licence</th>
          <th>Status de l'inscription</th>
          <th>Convoquer ?</th>
          <th>Statut de la convocation en cours</th>
          <th>Messages<th>
      </tr>
       </thead>
       <tbody>

      <% @subscriptions.each do |subscription|%>
               <tr class="subscription_item" id="<%= subscription.id %>">
               <% if subscription.status == "confirmed" %>
                <td class="checkbox"><input id="checkbox-player" type="checkbox"></td>
               <% else %>
                <td></td>
                <%end%>
          <td class="first-name"><%= subscription.user.first_name%></td>
          <td><%= subscription.user.last_name%></td>
          <td><%= subscription.user.licence_number%></td>
          <td>

            <%= form_for [@tournament, subscription] do |f| %>
              <%if subscription.status == "pending" %>
                <%= f.select :status, Subscription.status.options, :confirm => 'Your confirm message', remote: true, class: "form-control subscription-status" %>
              <%elsif subscription.status == "confirmed"%>
                confirmé
              <%else%>
                Refusé
              <%end%>

            <% end %>
           </td>
          <td><button type="button" class="btn btn-primary "><%=link_to "Profil du joueur", user_path(subscription.user) %></button></td>

          <td>
            <% if subscription.convocations.last %>
              <%= subscription.convocations.last.status_text %>
            <% end %>
          </td>

          <td>
            <% if subscription.convocations.last && subscription.convocations.last.messages != [] %>
              <%=link_to "+1", convocation_messages_path(subscription.convocations.last), class: "btn btn-success" %></td>
            <% end %>
        </tr>
     <%end%>
     </tbody>
    </table>


    <%= form_tag multiple_new_path(@tournament) do %>
        <%= hidden_field_tag :subscription_ids %>
        <%= submit_tag "Convoquer les joueurs sélectionnés", class: "btn btn-success margin" %>
        <% end %>
  </div>
</div>

    <%= content_for :after_js do %>
      <script>
        $(document).ready(function() {
        var string = "";
          $('.checkbox').on('click', function() {
            var subscription_id = $(this).parent().attr('id');
            if(string == "") {
              string = subscription_id;
            } else {
              string = string + ", " + subscription_id;
            }
            $('#subscription_ids').val(string);
          })
        })


function confirm() {
  confirm("Press a button!");
}


$(document).ready( function () {
  $.fn.dataTableExt.oStdClasses["sFilter"] = "my-style-class";
    $('#example').DataTable({
    "paging": false,
    "ordering": false,
    "info":     false,

});
} );


</script>
    <% end %>







