<div class = "container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="emperor">
        <%= @competition.tournament.name.upcase %>
        <%= @competition.category %>
      </h1>
      <ul class="list-inline">
        <li>
          <%=link_to new_competition_player_invitation_path(@competition), class: "btn btn-success", id: "convocation-submit" do %>
            <i class="fa fa-plus"></i>
            Ajouter un joueur à la liste
          <% end %>
        </li>
        <li>
          <%=link_to competition_rankings_path(@competition), class: "btn btn-success", id: "convocation-submit" do %>
          <i class="fa fa-lg fa-bar-chart"></i>
          Statistiques Tournoi
          <% end %>
        </li>
      </ul>
    </div>
  </div>

    <table id="example" class="table table-hover table-striped card display dataTable table_judge_tournoi">
        <thead>
          <tr>
           <th>AEI</th>
           <th><input type="checkbox" onClick="toggle(this)"/>Sel.</th>
           <th>Pr.</th>
           <th>Nom</th>
           <th>Lic.</th>
           <th>Inscr.</th>
           <th class="text-center">Profil</th>
           <th>Convoc. en cours</th>
           <th>Mess.</th>
           <th>Dispos</th>
          </tr>
        </thead>
        <tbody>
          <% @subscriptions.each do |subscription|%>
            <tr class="subscription_item" id="<%= subscription.id %>">
              <%if subscription.exported == true%>
                <td><i class="fa fa-check-circle"></i></td>

              <%else%>
                <td><i class="fa fa-times"></i></td>
              <% end -%>
              <%if subscription.status == "confirmed" || subscription.status == "confirmed_warning"%>
                <td><input class="checkbox-player" type="checkbox" name="foo"></td>
              <%else %>
                <td></td>
              <%end%>
              <td class="first-name"><%= subscription.user.first_name%></td>
              <td><%= subscription.user.last_name%></td>
              <td><div data-toggle="tooltip" data-placement="left" title="<%=subscription.user.ranking%>"><%= subscription.user.licence_number%></div></td>
              <!-- si le player a été added manuellement il n'y a pas l'option confirmed mais l'option !confirmed! seulement dans le select -->
              <%if subscription.status == "pending" && subscription.user.invitation_token?%>
                <td>
                  <%= form_for [@competition, subscription] do |f| %>
                    <%= f.select :status, subscription_status_options_player_added_manualy, class: "form-control subscription-status" %>
                  <%end%>
                </td>
              <%elsif subscription.status == "pending"%>
                <td>
                  <%= form_for [@competition, subscription] do |f| %>
                    <%= f.select :status, subscription_status_options, class: "form-control subscription-status" %>
                  <%end%>
                </td>
              <%elsif subscription.status == "confirmed"%>
                <td>
                  <div class="btn btn-success">
                    <a href="#" data-target="#confirme" data-toggle="modal" class="subscription_status">
                      Payé <%= subscription.fare_type.text %>
                    </a>
                  </div>
                  <div class="modal fade" id="confirme">
                    <div class="modal-dialog mymodal">
                      <div class="modal-content text-center">
                        <div class="modal-header">
                          <h4 class="modal-title">Remboursement</h4>
                           <p>Ce joueur ne participe plus au tournoi finalement ? Vous pouvez le supprimer et procéder au remboursement de ses frais d'inscription ! <br></p>
                           <p> Il vous suffit de cliquer sur <strong>Rembourser</strong> ci-dessous pour que son inscription au tournoi soit supprimé et lui reverser ses frais d'inscription</p>
                        </div>
                        <div class="modal-body">
                        <%= form_tag refund_subscription_path(subscription) do %>
                          <%= submit_tag "Rembourser ce joueur", id: "export", class: "btn btn-warning"%>
                        <% end -%>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div>
                  <%elsif subscription.status == "confirmed_warning"%>
                  <td>
                  <div class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Ce joueur doit payer le jour de sa première convocation">
                    <a href="#" data-target="#confirme_without" data-toggle="modal" class="subscription_status" class="confirm!">
                      Pas payé
                    </a>
                  </div>
                  <div class="modal fade" id="confirme_without">
                    <div class="modal-dialog mymodal">
                      <div class="modal-content text-center">
                        <div class="modal-header">
                          <h4 class="modal-title">Refuser ce joueur ?</h4>
                           <p>Ce joueur ne participe plus au tournoi finalement ? Il vous suffit simplement de cliquer ci-dessous pour annuler son inscription.<br></p>
                        </div>
                        <div class="modal-body">
                        <%= form_tag refuse_subscription_path(subscription) do %>
                          <%= submit_tag "Refuser ce joueur", class: "btn btn-warning"%>
                        <% end -%>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div>
              <%else%>
                <td>
                  <div class="btn btn-danger">
                    <a href="#" data-target="#refuse" data-toggle="modal" class="subscription_status"> Refusé </a>
                  </div>
                  <div class="modal fade" id="refuse">
                    <div class="modal-dialog mymodal">
                      <div class="modal-content text-center">
                        <div class="modal-header">
                          <h4 class="modal-title">Accepter ce joueur dans le tournoi finalement</h4>
                           <p>Vous voulez finalement laisser ce joueur participer au tournoi? Pas de problème !<br></p>
                           <p> Il vous suffit de cliquer sur <strong>Accepter ce joueur</strong> ci-dessous pour que son inscription au tournoi soit confirmée et commencer à lui envoyer des convocations</p><br>
                           <strong>ATTENTION !</strong><br>
                           <p>le paiement en ligne ne pourra pas passer par WeTennis pour ce joueur et vous devrez l'encaissez vous-même</p>
                        </div>
                        <div class="modal-body">
                        <%= form_tag accept_subscription_path(subscription) do %>
                          <%= submit_tag "Confirmer ce Joueur", class: "btn btn-success"%>
                        <% end -%>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div>
                </td>
              <% end %>

              <td><%=link_to "Profil", user_path(subscription.user), class: 'btn btn-primary', title: "tel : #{subscription.user.telephone}", "data-toggle"=> "tooltip", "data-placement" => "top" %></td>


              <% if subscription.convocations.last %>
                <td>
                  <%= subscription.convocations.last.date.strftime('le %d/%m/%Y')%>
                  <%= subscription.convocations.last.hour.strftime('à %Hh%M')%>
                  <strong><%= subscription.convocations.last.status_text %></strong></td>
              <%else%>
                <td></td>
              <% end %>
              <% if subscription.convocations.last && subscription.convocations.last.message && !subscription.convocations.last.message.read  %>
              <td>
                <%=link_to "+1", convocation_message_path(subscription.convocations.last, subscription.convocations.last.message), class: "btn btn-success message", "data-toggle"=>"tooltip", "data-placement"=>"top", title: " #{subscription.convocations.last.message.content}" %>
              </td>
              <%else%>
                <td></td>
              <% end %>
              <% if subscription.disponibility %>
                <td>
                  <%= link_to '<i class="fa fa-calendar"></i>'.html_safe, subscription_disponibility_path(subscription, subscription.disponibility), class: "fleche_subscription", "data-container"=>"body",
                    "data-html"=>"true", "data-content"=> " <ul class='small'> <li>L: #{subscription.disponibility.monday}</li> <li>Ma: #{subscription.disponibility.tuesday}</li> <li>Me: #{subscription.disponibility.wednesday}</li> <li>Je: #{subscription.disponibility.thursday}</li> <li>Ve: #{subscription.disponibility.friday}</li> <li>Sam: #{subscription.disponibility.saturday} </li><li>Dim: #{subscription.disponibility.sunday}</li><li>Dim: #{subscription.disponibility.comment}</li> </ul>", "data-toggle"=> "popover", "data-placement" => "top", "data-trigger"=>"hover", "title" => "<div class=small>Dispos Licencié </div>" %>
                </td>
              <% else %>
                <td><%= link_to '<i class="fa fa-calendar"></i>'.html_safe, new_subscription_disponibility_path(subscription), class: "fleche_subscription", title: "Non renseignées ", "data-toggle"=> "tooltip", "data-placement" => "top" %></td>
              <% end %>
            </tr>
          <%end%>
        </tbody>
      </table>

      <ul class="list-inline">
        <li>
          <%= form_tag multiple_new_path(@competition) do %>
            <%= hidden_field_tag :select_players %>
            <%= button_tag(type: "submit", class: "btn btn-success margin") do %>
              <i class="fa fa-envelope"></i>
              Convoquer les joueurs sélectionnés
            <% end %>
          <% end %>
        </li>
        <li>
          <a href="#" data-target="#exporter" data-toggle="modal" class="btn btn-success">
            <i class="fa fa-share-alt"></i>
            Exporter vers AEI
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>



<div class="modal fade" id="exporter">
  <div class="modal-dialog mymodal">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h4 class="modal-title">Exporter la liste de vos inscrits sur AEI</h4>
         <p> wetennis vous permet d'exporter la liste de tous vos inscrits sur AEI.Avant de continuer, assurer vous: <br></p>
          <ul>
            <li> <strong>D'avoir bien créer votre Tournoi sur AEI</strong></li>
            <li> <strong>Que le numéro d'homologation sur AEI et WeTennis correspondent</strong></li>
            <li><strong>Que la catégorie du tournoi sur AEI et WeTennis correspondent</strong></li>
          </ul>
      </div>
      <div class="modal-body">

        <%= form_tag competition_aei_export_path(@competition) do %>
          <%= hidden_field_tag :subscription_ids_export %>
          <div class="form-group">
            <%= label_tag :login_aei, "Identifiant AEI" %>
            <%= text_field_tag :login_aei, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :password_aei, "Mot de passe AEI" %>
            <%= text_field_tag :password_aei, nil, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= submit_tag "Exporter vos inscrits", id: "export", class: "btn btn-success margin form-control"%>
          </div>
        <% end -%>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



<!-- this js should use toggleclass -->
<%= content_for :after_js do %>
<script>
$(document).ready(function() {


  $('.checkbox-player').on('change', function() {
    var subscriptionIds = $('.checkbox-player:checked').map(function() {
      return $(this).parent().parent().prop('id');
    }).get().join(',');
    $('#select_players').val(subscriptionIds);
    $('#subscription_ids_export').val(subscriptionIds);
  })
})


$(document).ready( function () {
  $.fn.dataTableExt.oStdClasses["sFilter"] = "my-style-class";
  $('#example').DataTable({
        language: {

        search:         "Rechercher un inscrit:",
        lengthMenu:    "Afficher _MENU_ inscrits",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
       },
    "paging": false,
    "ordering": false,
    "info":     false,

  });
});


function toggle(source) {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  var subscriptionIds = $('.checkbox-player:checked').map(function() {
      return $(this).parent().parent().prop('id');
    }).get().join(',');
  $('#select_players').val(subscriptionIds);
  $('#subscription_ids_export').val(subscriptionIds);
}
</script>
<% end %>
