<div class = "container">
    <%= @tournament.name %>
    <table class="table table-hover">
      <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Numéro de licence</th>
          <th>Status de l'inscription</th>
          <th>Convoquer ?</th>
          <th>Statut de la convocation en cours</th>
      </tr>
      <% @subscriptions.each do |subscription|%>
      <tr>
        <td><%= subscription.user.first_name%></td>
        <td><%= subscription.user.last_name%></td>
        <td><%= subscription.user.licence_number%></td>

        <td>
          <%= form_for [@tournament, subscription] do |f| %>
            <%= f.select :status, Subscription::STATUSES, class: "form-control" %>
            <%= f.submit "Enregistrer", class: "btn btn-success" %>
          <% end %>
         </td>
        <td><button type="button" class="btn btn-primary"><%=link_to "convoquer ce joueur", new_subscription_convocation_path(subscription) %></button></td>

        <td>
          <% if subscription.convocations.last %>
            <%= subscription.convocations.last.status %>
          <% end %>
          </td>
      </tr>

      <%end%>
    </table>

    <%=link_to "Ajouter un joueur à la liste", invite_player_path(@tournament), class: "btn btn-primary" %>




