<div class = "container">
    <%= @tournament.name %>
    <table class="table table-hover">
      <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Numéro de licence</th>
          <th>status de l'inscription</th>
      </tr>
      <% @subscriptions.each do |subscription|%>
      <tr>
        <td><%= subscription.user.first_name%></td>
        <td><%= subscription.user.last_name%></td>
        <td><%= subscription.user.licence_number%></td>
        <td>
          <%= form_for [@tournament, subscription] do |f| %>
            <%= f.select :status, Subscription::STATUSES, class: "form-control" %>
            <%= f.submit "Enregistrer", class: "btn btn-success" %>
          <% end %>
         </td>
        <td><button type="button" class="btn btn-primary"><%=link_to "Fiche Profile", subscription_profil_path(@tournament)%></button></td>
      </tr>
      <%end%>
    </table>


