<div class="banner">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 bigmarge paymentcard">
      <div class="row padded">
        <div class="col-xs-12" id="paiement">
          <span class="fa fa-lock fa-lg"></span><strong>PAIEMENT</strong>
        </div>
        <div class="col-xs-12">
          <p>Paiement de l'inscription pour un montant de
          <% if @subscription.tournament.young_fare && current_user.age < 18 %>
            <strong> <%= @subscription.tournament.young_fare %> €</strong>
          <%else %>
            <strong> <%= @subscription.tournament.amount %> €</strong>
          <% end -%>
           </p>
        </div>
        <div class="col-xs-12">
          <div class="cards">
            <span></span><span class="card-image"></span><span></span>
          </div>
        </div>
        <div class="col-xs-12">
          <div >
            <i class="fa fa-credit-card"></i>
            <input id="card_number" class="form-control empty text-input card-input" id="iconified" placeholder="Numéro de carte" style="font-family:Arial, FontAwesome">
          </div>
        </div>
        <div class="col-xs-6">
          <i class="fa fa-calendar"></i>
          <input id="card_expiration_date" class="form-control empty text-input date-input" id="iconified" placeholder="MMAA" style="font-family:Arial, FontAwesome"/>
        </div>
        <div class="col-xs-6">
          <i class="fa fa-lock "></i>
          <input id="card_cvx" class="form-control empty text-input" id="iconified" placeholder="Code CSV" style="font-family:Arial, FontAwesome"/>
        </div>
         <%= hidden_field_tag :card_type, "CB_VISA_MASTERCARD" %>
         <div id="scrollable-content">


          Les présentes conditions de vente sont conclues d'une part par la société WeTennis, SAS au capital de X euros dont le siège social est situé à (adresse), immatriculée au registre du commerce et des sociétés de (précisez la ville) sous le numéro (numéro d’immatriculation au RCS) ci-après dénommée « X » et d'autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet de « X » dénommée ci-après « le Client  ». <br>

          <strong>1. Objet du contrat</strong><br>

          Les présentes conditions générales de vente ont pour objet de fixer les dispositions contractuelles entre X et le Client  et les conditions applicables à tout achat effectué par le biais du site marchand X. L’acquisition d'un bien ou d'un service à travers le présent site implique une acceptation sans réserve par le client  des présentes conditions de vente. <br>

         <strong>2. Caractéristiques des articles proposés à la vente</strong><br>

          Les articles offerts sont ceux qui figurent dans le catalogue publié dans le site de X. Ces articles sont offerts. Chaque article est accompagné d'un descriptif établi par X. Les photographies du catalogue sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec l’article offert, notamment en ce qui concerne les couleurs. <br>

          <strong>3. Zone  géographique</strong> <br>

          La vente en ligne des articles présentés dans le site est réservée aux acheteurs qui résident en France métropolitaine. <br>

          <strong>4. Tarifs</strong> <br>
          Les prix figurant dans le catalogue sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande; tout changement du taux pourra être répercuté sur le prix des articles. X se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable au Client. Les prix indiqués comprennent les frais  de traitement de commandes, de transport et d’expédition. <br>

          <strong>5. Commandes</strong> <br>

          Le client passe commande sur le site Internet « www… ». Pour acheter un ou plusieurs articles, il doit obligatoirement suivre le processus de commande suivant : <br>

          - Choix des articles et ajout au panier <br>
          - Validation du contenu du panier <br>
          - Identification sur le site Internet ou inscription sur la fiche d'identification sur laquelle il indiquera toutes les coordonnées demandées <br>
          - Choix du mode de livraison <br>
          - Choix du mode de paiement et acceptation des CGV <br>
          - Validation du paiement <br>

          Le client  recevra un e-mail de confirmation de commande. <br>
          Le client pourra à tout moment visualiser lors du processus de commande le détail de sa commande ainsi que son prix total et corriger d’éventuelles erreurs, avant de la confirmer pour exprimer son acceptation. <br>

          X se réserve la propriété des articles jusqu’au règlement complet de la commande, c'est-à-dire à l’encaissement du prix de la commande par X. <br>

          X se réserve le droit d’annuler ou de refuser toute commande qui émanerait d’un Client avec lequel il existerait un litige relatif au paiement d’une commande précédente. Toute commande vaut acceptation des prix et descriptions des articles disponibles à la vente.
          X s’engage à honorer les commandes reçues sur le site Internet seulement dans la limite des stocks disponibles. <br>

          <strong>6. Modalités de paiement</strong><br>

          Le règlement des achats s’effectue via l’un des moyens suivants, à la convenance du Client :
          • Par carte bancaire
          Il est à envoyer à X, service client (adresse : ….). Les articles commandés seront alors réservés 7 jours calendaires à compter de la date de la commande. Passé ce délai et à défaut de réception dudit chèque, X se réserve le droit d’annuler la commande du client. Le chèque lui sera alors renvoyé dès réception. <br>

          L’encaissement est effectué à réception du chèque. <br>

          <strong>7. Expédition et délais de livraison</strong> <br>

          Toute commande passée sur le site de X avant 13h du lundi au samedi (hors jours fériés) sera préparée et expédiée le jour même, sous réserve de validation du paiement. <br>
          X s’engage à livrer les commandes passées par le Client dans les délais prévus. Si lesdits articles n’ont pas été livrés dans un délai de 7 jours à compter de la date de livraison prévue lors de la commande, et si ce dépassement n’est pas lié à un cas de force majeure, le Client pourra procéder à la résolution de la vente, en envoyant à courrier recommandé avec accusé de réception à l’adresse suivante : X,… Les sommes réglées par le Client lui seront alors intégralement remboursées. <br>

          Le client dispose d’un délai de 70 jours ouvrés à compter de la date d’expédition de la commande pour signaler la non réception et demander la résolution de la vente et le remboursement des articles. Passé ce délai, aucune résolution de la vente ne sera acceptée. <br>

          Le client est tenu de vérifier le bon état des articles livrés. Toute anomalie constatée (article manquant, colis endommagé, article cassé…) devra obligatoirement être indiquée dans les 4 jours, à X, suivant la réception. <br>

          <strong>8. Délai de Rétractation : échange ou retour</strong>  <br>

          Les Clients, personnes physiques non professionnelles, bénéficient d'un délai de rétractation de trente jours à compter de la livraison de leur commande pour faire retour du produit à X pour échange ou remboursement sans pénalité, et sans frais de retour. <br>

          Les frais de retour sont offerts par X. Le Client sera remboursé intégralement dans les meilleurs délais et au plus tard 30 jours après la date à laquelle il a exercé son droit de rétractation. <br>

          <strong>Conditions d’échange et de retour pour remboursement</strong>
          Les articles retournés doivent être neufs et en parfait état. Ils devront être renvoyés dans un état permettant leur re commercialisation. <br>
          Le Client aura le choix entre deux modes de retour proposés par X : *
          - Colissimo
          - Kiala
          Si le Client venait à renvoyer les articles par un autre mode de retour, et supportant à ce titre des frais de retour, il ne pourrait prétendre à aucun remboursement ou échange de la part de X.
          Le client devra conserver la preuve du dépôt du colis auprès de l’un des deux prestataires chargés du retour. En l’absence de cette preuve, aucun échange ou remboursement ne pourra être effectué en cas de perte du colis. <br>

        </div>
        <form action="">
        <input type="checkbox" name="CGV" id="CGV"> <strong>J'ai lu et j'accepte les CGV</strong>
        </form>
        <div class="col-xs-12">
          <p><strong>En cliquant sur payer, je valide mon inscription à <%= @subscription.tournament.name %> du <%= @subscription.tournament.starts_on.strftime("%d/%m/%Y") %> au <%= @subscription.tournament.ends_on.strftime("%d/%m/%Y")%>. Je ne serai débité que si mon inscription au tournoi est validé par le Juge arbitre</strong> </p>
        </div>
        <div class="col-xs-12">
          <button class= "btn-primary" id="process" onclick="javascript:registerCardDemo();">Payer <%=@subscription.tournament.amount%> € </button>
        </div>
          <%= image_tag "mangopay_logos.png", id: "mangopay"%>
        <div class="col-xs-12">
          <div id="error-cgv" class="text-center"></div>
           <div id="result" class="text-center"></div>
        </div>
        <div class="col-xs-12">
          <div class="row-spacer">
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<br>

<!--
<br>
<div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-4 col-md-offset-3 col-md-6 text-center msg-mango">
  <p>
      <div id="result"></div>
  </p>
</div>

<br>
<br>
<div class="vertical-spacer">

</div>
</div>
<div class="vertical-spacer"> -->






<% content_for(:after_js) do %>
<script type="text/javascript" >

        function registerCardDemo() {

          if ($('#CGV').prop('checked'))
            {
                  var resultDiv = document.getElementById("result");
                  resultDiv.innerHTML = "Vérification...";
                  resultDiv.style.color = "black";

                    // Card register data prepared on the server
                  var cardRegisterData = {
                      cardRegistrationURL: "<%= params[:card_registration_url] %>",
                      preregistrationData: "<%= params[:preregistration_data] %>",
                      accessKey: "<%= params[:access_key] %>",
                      Id: "<%= params[:card_registration_id] %>"
                  };

                   // Card data collected from the user
                  var cardData = {
                       cardNumber: document.getElementById("card_number").value,
                       cardExpirationDate: document.getElementById("card_expiration_date").value.replace('/',''),
                       cardCvx: document.getElementById("card_cvx").value,
                       cardType: document.getElementById("card_type").value
                  };

              // Set MangoPay API base URL and Client ID

                  mangoPay.cardRegistration.baseURL = "<%= ENV['MANGOPAY_PRODUCTION'] == 'true' ? 'https://api.mangopay.com' : 'https://api.sandbox.mangopay.com' %>";
                  mangoPay.cardRegistration.clientId = "<%= ENV['MANGOPAY_PRODUCTION'] == 'true' ? 'WeTennis' : 'davidgeismar' %>";

               // Initialize the CardRegistration Kit
                  mangoPay.cardRegistration.init(cardRegisterData);

                  // Register card
                  mangoPay.cardRegistration.registerCard(cardData,
                      function(res) {
                          var message = '<strong>' +'Votre carte a été vérifiée ' + res.CardId + '.<br /> </strong>';
                          message += '<strong>' +'Le paiement est en cours' + '</strong>';
                          resultDiv.innerHTML = message;
                          resultDiv.style.color = "green";
                          $.ajax({
                            type:"patch",
                            dataType: "script",
                            url: "<%=j register_path(current_user)%>",
                            data: {
                              user: {
                                card_id: res.CardId
                              }
                            },
                            success: function() {$.ajax({
                                type:"post",
                                dataType: "script",
                                url: "<%=j tournament_transfers_path(params[:tournament_id])%>",
                              });
                            }
                          });
                        },
                      function(res) {
                          var message = "<strong>Votre carte n'a pas été débitée.</strong><br />";
                          message += '<strong>' +res.ResultMessage + '<br />' +' Code : ' + res.ResultCode + '</strong>' ;
                          resultDiv.innerHTML = message;
                          resultDiv.style.color = "black";
                      }
                  );
              }


        else
          {
            $('#error-cgv').append('<p> <strong> Acceptez les CGV de WeTennis pour procéder au paiement </strong></p>');
          }
    }

</script>

<% end -%>