<div class="banner">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 bigmarge paymentcard">
      <div class="row padded">
        <div class="col-xs-12" id="paiement">
          <span class="fa fa-lock fa-lg"></span><strong>PAIEMENT</strong>
        </div>
        <div class="col-xs-12">
          <p>Paiement de l'inscription pour un montant de
          <% if @subscription.tournament.young_fare && current_user.age < 18 %>
            <strong> <%= @subscription.tournament.young_fare %> €</strong>
          <%else %>
            <strong> <%= @subscription.tournament.amount %> €</strong>
          <% end -%>
           </p>
        </div>
        <div class="col-xs-12">
          <div class="cards">
            <span></span><span class="card-image"></span><span></span>
          </div>
        </div>
        <div class="col-xs-12">
          <div >
            <i class="fa fa-credit-card"></i>
            <input id="card_number" class="form-control empty text-input card-input" id="iconified" placeholder="Numéro de carte" style="font-family:Arial, FontAwesome">
          </div>
        </div>
        <div class="col-xs-6">
          <i class="fa fa-calendar"></i>
          <input id="card_expiration_date" class="form-control empty text-input date-input" id="iconified" placeholder="MMAA" style="font-family:Arial, FontAwesome"/>
        </div>
        <div class="col-xs-6">
          <i class="fa fa-lock "></i>
          <input id="card_cvx" class="form-control empty text-input" id="iconified" placeholder="Code CSV" style="font-family:Arial, FontAwesome"/>
        </div>
         <%= hidden_field_tag :card_type, "CB_VISA_MASTERCARD" %>
         <div id="scrollable-content">

          <h4> Conditions Générales de Vente WeTennis </h3>
          Les présentes conditions de vente sont conclues d'une part par la société WeTennis, SAS en cours de formation ci-après dénommée « WeTennis » représentée par David GEISMAR et d'autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet de « WeTennis » dénommée ci-après « le Client  ». <br>

          <strong>1. Objet du contrat</strong><br>

          Les présentes conditions générales de vente ont pour objet de fixer les dispositions contractuelles entre WeTennis et le Client  et les conditions applicables à tout achat effectué par le biais du site marchand WeTennis. L’acquisition d'un bien ou d'un service à travers le présent site implique une acceptation sans réserve par le client  des présentes conditions de vente. <br>

         <strong>2. Caractéristiques des services proposés à la vente par WeTennis</strong><br>

          WeTennis permet à ses clients l'inscription en ligne aux tournois de tennis. Les tournois sont ceux qui figurent sur le site internet WeTennis. Chaque tournoi est accompagné d'un descriptif précisant la catégorie, le lieu, les dates du tournoi...
          WeTennis fait tout son possible pour assurer l'exactitude des informations fournies mais ne peut en aucun cas être tenu d'une obligation de résultat quant à l'exactitude des informations visibles par le client sur le site WeTennis. <br>

          <strong>3. Tarifs</strong> <br>
          Le prix indiqué sur le site WeTennis sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande ainsi que de la commission prélevée par WeTennis; tout changement du taux pourra être répercuté sur le prix des inscriptions aux tournois. WeTennis se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant sur WeTennis le jour de la commande sera le seul applicable au Client. Les prix indiqués comprennent les frais  de traitement de commandes, de transport et d’expédition. <br>

          <strong>5. Commandes</strong> <br>

          Le client passe commande sur le site Internet « www.wetennis.fr ». Pour acheter un ou plusieurs articles, il doit obligatoirement suivre le processus de commande suivant : <br>
          - Identification sur le site Internet <br>
          - Remplissage exhaustif de ses informations sur son "Profil utilisateur" <br>
          - Choix du tournoi auquel le client souhaite s'inscrire <br>
          - Acceptation des CGV <br>
          - Validation du paiement <br>

          Le client recevra un e-mail de confirmation de commande. <br>


          WeTennis se réserve la possibilité d'annuler l'inscription  jusqu’au règlement complet de la commande, c'est-à-dire à l’encaissement de la commission de WeTennis sur le prix de la commande par WeTennis. <br>

          WeTennis se réserve le droit d’annuler ou de refuser toute commande qui émanerait d’un Client avec lequel il existerait un litige relatif au paiement d’une commande précédente. Toute commande vaut acceptation des prix et descriptions des tournois ouverts aux inscriptions.
          WeTennis s’engage à honorer les commandes reçues sur le site Internet seulement dans la limite des places disponibles dans les tournois. <br>

          <strong>6. Modalités de paiement</strong><br>

          Le règlement des achats s’effectue par carte bancaire.  <br>
        </div>
        <%= form_tag tournament_transfers_path(@tournament), method: :post, id: 'payment_form' do %>
          <input type="checkbox" name="CGV" id="CGV">
          <label for="CGV"><strong>J'ai lu et j'accepte les CGV</strong></label>
        <% end %>
        <div class="col-xs-12">
          <p><strong>En cliquant sur payer, je valide mon inscription à <%= @subscription.tournament.name %> du <%= @subscription.tournament.starts_on.strftime("%d/%m/%Y") %> au <%= @subscription.tournament.ends_on.strftime("%d/%m/%Y")%>. Je ne serai débité que si mon inscription au tournoi est validé par le Juge arbitre</strong> </p>
        </div>
        <div class="col-xs-12">
          <button class= "btn-primary" id="process" onclick="javascript:registerCardDemo();">Payer <%=@subscription.tournament.amount%> € </button>
        </div>
        <div class="col-xs-12">
          <div id="error-cgv" class="text-center"></div>
           <div id="result" class="text-center"></div>
        </div>
        <%= image_tag "mangopay_logos.png", id: "mangopay"%>
        <div class="col-xs-12">
          <div class="row-spacer">
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<br>

<% content_for(:after_js) do %>
  <script type="text/javascript" >
    function registerCardDemo() {
      if ($('#CGV').prop('checked')) {
        var resultDiv         = document.getElementById("result");
        resultDiv.innerHTML   = "Vérification...";
        resultDiv.style.color = "black";

        $('#error-cgv').html('');

        // Card register data prepared on the server
        var cardRegisterData = {
          cardRegistrationURL:  "<%= @card['CardRegistrationURL'] %>",
          preregistrationData:  "<%= @card['PreregistrationData'] %>",
          accessKey:            "<%= @card['AccessKey'] %>",
          Id:                   "<%= @card['Id'] %>"
        }

        // Card data collected from the user
        var cardData = {
          cardNumber:         $("#card_number").val(),
          cardExpirationDate: $("#card_expiration_date").val().replace('/',''),
          cardCvx:            $("#card_cvx").val(),
          cardType:           $("#card_type").val()
        }

        // Set MangoPay API base URL and Client ID
        mangoPay.cardRegistration.baseURL   = "<%= ENV['MONGOPAY_API_URL'] %>";
        mangoPay.cardRegistration.clientId  = "<%= ENV['MANGOPAY_CLIENT_ID'] %>";

        // Initialize the CardRegistration Kit
        mangoPay.cardRegistration.init(cardRegisterData);

        // Register card
        mangoPay.cardRegistration.registerCard(cardData,
          function(res) {
            var message = '<strong>Votre carte a été vérifiée ' + res.CardId + '.<br /> </strong>';
            message    += '<strong>Le paiement est en cours</strong>';
            resultDiv.innerHTML   = message;
            resultDiv.style.color = "green";

            var form = $('#payment_form');
            form.find('button').prop('disabled', true);
            form.append($('<input type="hidden" name="card_id" />').val(res.CardId));
            form.get(0).submit();
          },
          function(res) {
            var message = "<strong>Votre carte n'a pas été débitée.</strong><br />";
            message    += '<strong>' +res.ResultMessage + '<br /> Code : ' + res.ResultCode + '</strong>' ;

            resultDiv.innerHTML   = message;
            resultDiv.style.color = "black";
          }
        );
      }
      else {
        $('#error-cgv').html('<p><strong>Veuillez accepter les CGV de WeTennis pour procéder au paiement</strong></p>');
      }
    }
  </script>
<% end %>
