<h2 class= "text-left"> Prénom : <%= @user.first_name %></h2>
              <h2 class= "text-left"> Nom :<%= @user.last_name %></h2>
              <h2 class= "text-left"> email : <%= @user.email %></h2>
              <h2 class= "text-left">Classement : <%= @user.ranking %></h2>
              <h2 class= "text-left"> Sexe : <%= @user.genre %></h2>
              <h2 class= "text-left">Date de naissance : <%= @user.date_of_birth %></h2>
              <h2 class= "text-left">Numéro de licence : <%= @user.licence_number %></h2>

