<h1>WeTennis : Vous avez été ajouté au tournoi <%=@subscription.tournament.name%></h1>

<p>
 Bonjour <%=@subscription.user.name%>, <br>
 Vous avez été ajouté au tournoi <strong><%=@subscription.tournament.name%></strong> du <%=@subscription.tournament.starts_on.strftime("%d/%m/%Y") %> au <%=@subscription.tournament.ends_on.strftime("%d/%m/%Y") %> par <strong><%=@subscription.tournament.user.name%></strong>  <br>
 Le juge-arbitre doit encore confirmer votre inscription au tournoi. <br> Vous recevrez la confirmation ou le refus par e-mail dans les plus brefs délais.
</p> <br>

<!-- <p> Inscrivez vous en ligne à vos tournois de tennis et recevez toutes vos convocations par email, notifications et sms en rejoignant </p> -->

<p> @ bientôt sur les courts !</p>
<p>L'équipe WeTennis</p>
