
<h1>WeTennis : Vous avez été ajouté au tournoi <%=@subscription.competition.tournament.name%> dans la catégorie <%= @subscription.competition.category%></h1>

<p>Bonjour <%=@subscription.user.first_name.capitalize%>,</p>
 <p>Vous avez été ajouté au tournoi <strong><%=@subscription.competition.tournament.name%></strong> du <%=@subscription.competition.tournament.starts_on.strftime("%d/%m/%Y") %> au <%=@subscription.competition.tournament.ends_on.strftime("%d/%m/%Y") %> par <strong><%=@subscription.competition.tournament.user.full_name%>, juge arbitre du tournoi <%=@subscription.competition.tournament.name%></strong> </p>
  <p>Vous recevrez un email vous informant de la validation ou du refus de votre inscription.</p>
 <p>Le juge-arbitre doit encore confirmer votre inscription au tournoi.<br> Vous recevrez la confirmation ou le refus par e-mail dans les plus brefs délais.
</p>
