<h1>WeTennis: demande d'inscription confirmée</h1>
  <p>
   Bonjour <%=@subscription.user.first_name.capitalize%>, <br>
   Votre demande d'inscription au tournoi <strong><%= @subscription.competition.tournament.name %> dans la catégorie <%= @subscription.competition.category%></strong> du <%=@subscription.competition.tournament.starts_on.strftime("%d/%m/%Y") %> au <%=@subscription.competition.tournament.ends_on.strftime("%d/%m/%Y") %> a été confirmée par le juge arbitre. <br>
   Vous recevrez votre convocation dans les plus brefs délais ! <br>
  </p>

