<div style="text-align:center"><img src="../assets/images/logo.png" alt=""></div>
<div style="text-align:center">
<h1>WeTennis : demande d'inscription envoyée</h1>

<p>
 Bonjour <%=@subscription.user.name%>, <br>
 Votre demande d'inscription au tournoi <strong><%=@subscription.tournament.name%></strong> du <%=@subscription.tournament.starts_on.strftime("%d/%m/%Y") %> au <%=@subscription.tournament.ends_on.strftime("%d/%m/%Y") %> a bien été prise en compte. <br>
 Vous recevrez la réponse du juge-arbitre dans les plus brefs délais. <br>
 Si jamais vous n'êtes pas accepté au tournoi <strong><%=@subscription.tournament.name%></strong>, votre carte ne sera pas débitée. <br>
</p>

<p> @ bientôt sur les courts !</p>
<p>L'équipe WeTennis</p>
</div>