<h1>WeTennis : Nouvelle demande d'inscription </h1>

<p> Nouvelle inscription : <%= @subscriptions.first.user.full_name.capitalize %> </p>
<p>Tournoi : <%=@subscriptions.first.tournament.name%> </p>
<p>Catégorie(s) :</p>
<ul>
  <%@subscriptions.each do | subscription| %>
 <li> <%= subscription.competition.category%></li>
 <% end -%>
</ul>

<p>Tarif :<%=@subscriptions.first.fare_type%> </p>
<% if @subscriptions.first.fare_type == "young" %>
  <p>Total: <%= @subscriptions.first.tournament.young_fare*@subscriptions.count %> €</p>
<% else %>
  <p>Total: <%= @subscriptions.first.tournament.amount*@subscriptions.count %> €</p>
<% end -%>

